<h1>ログインページ</h1>
<%= form_with(url: login_path , scope: :session , local: true) do |f| %>
<div>
  <%= f.label :email, 'メールアドレス' %>
  <%= f.email_field :email %>
</div>
<div>
  <%= f.label :password, 'パスワード'%>
  <%= f.password_field :password %>
</div>

<%= f.submit 'ログイン' %>
<% end %>

<%= link_to '新規会員登録をする', signin_path %>