<%= form_with(model: @task, local:true) do |f| %>
 <%= render 'layouts/error_messages',model: f.object %>
  <p>
    <%= f.label :content,'メッセージ'%>
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.label :status,'進捗度'%>
    <%= f.text_field :status %>
  </p>
  <%= f.submit '登録'%>
<% end %>
