<%= render 'flayouts/flash_messages' %>
<h1>id: <%= @task.id%> のタスク情報</h1>

<p><%= @task.content %></p>
<p>進捗状況：<%= @task.status %></p>

<%= link_to 'タスクの編集',edit_task_path%>
<%= link_to 'タスクの削除',@task , method: :delete, data:{ confirm: '削除します。よろしいですか'} %>
<%= link_to '戻る',tasks_path%>